In [86]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

In [87]:
data = pd.read_csv('iphone_purchase_records.csv')
data

     Gender  Age  Salary  Purchase Iphone
0      Male   19   19000                0
1      Male   35   20000                0
2    Female   26   43000                0
3    Female   27   57000                0
4      Male   19   76000                0
..      ...  ...     ...              ...
395  Female   46   41000                1
396    Male   51   23000                1
397  Female   50   20000                1
398    Male   36   33000                0
399  Female   49   36000                1

[400 rows x 4 columns]

In [88]:
x = data.iloc[:,0:3]
y = data.iloc[:,-1]

In [89]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

features = ["Gender"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",one_hot,features)],remainder="passthrough")
t_x = transformer.fit_transform(x)
t_x

array([[0.0e+00, 1.0e+00, 1.9e+01, 1.9e+04],
       [0.0e+00, 1.0e+00, 3.5e+01, 2.0e+04],
       [1.0e+00, 0.0e+00, 2.6e+01, 4.3e+04],
       ...,
       [1.0e+00, 0.0e+00, 5.0e+01, 2.0e+04],
       [0.0e+00, 1.0e+00, 3.6e+01, 3.3e+04],
       [1.0e+00, 0.0e+00, 4.9e+01, 3.6e+04]])

In [90]:
x_train,x_test,y_train,y_test = train_test_split(t_x,y,test_size=0.1,random_state=False)
pd.DataFrame(t_x)

       0    1     2        3
0    0.0  1.0  19.0  19000.0
1    0.0  1.0  35.0  20000.0
2    1.0  0.0  26.0  43000.0
3    1.0  0.0  27.0  57000.0
4    0.0  1.0  19.0  76000.0
..   ...  ...   ...      ...
395  1.0  0.0  46.0  41000.0
396  0.0  1.0  51.0  23000.0
397  1.0  0.0  50.0  20000.0
398  0.0  1.0  36.0  33000.0
399  1.0  0.0  49.0  36000.0

[400 rows x 4 columns]

In [93]:
regressor = KNeighborsClassifier(n_neighbors=6,metric='minkowski',p=2)

In [94]:
#regressor = LogisticRegression()
regressor.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=6)

In [95]:
y_pred = regressor.predict(x_test)

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [96]:
accuracy_score(y_pred,y_test)

0.875